.sidebar{
    flex: 1;
    border-right: 1px solid rgba(164, 164, 164, 0.519);
    min-height: 100vh;
    overflow: hidden;
    
    .top{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            font-size: 30px;
            font-weight: 900;
        }
    }
    .center{
        padding-left: 10px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            
            .title{
                font-size: 12px;
                color: gray;
                margin-top: 15px;
            }
            li{
                padding-top: 10px;
                padding-bottom: 10px;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.742);
                    background: red;
                    color: white;
                    font-weight: 700;
                    .icon{
                        color: white;
                    }
                }
                .icon{
                    margin-right: 7px;
                    color: red;
                    font-size: 30px;
                }
                span{
                    font-weight: 700;
                    font-size: 14px;
                }
            }
            
        }
    }
    .bottom{
        display: flex;
        justify-content: center;
        .color-options{
            height: 25px;
            width: 25px;
            border: 3px solid red;
            margin: 5px;
            cursor: pointer;
            border-radius: 6px;
            &:nth-child(1){
                background: white;
            }
            &:nth-child(2){
                background: black;
            }
            
        }
    }
}