.chart{
    flex: 4;
    -webkit-box-shadow: 3px 4px 4px 1px rgba(189, 187, 189, 0.58);
    -moz-box-shadow: 3px 4px 4px 1px rgba(189, 187, 189, 0.58);
    box-shadow: 3px 4px 4px 1px rgba(189, 187, 189, 0.58);
    padding: 20px;
    color: grey;
}